@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #f2f0ea;
  --foreground: #0f0b01;
  --header-foreground: #ff78ac;
}

.dark {
  --background: #0a1828;
  --foreground: #bfa181;
  --header-foreground: #178582;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header-foreground: var(--header-foreground);
}
